<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Africa - Nigéria</title>
    <link rel="stylesheet" href="{% static 'americaDoSul/style.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <header class="container-header">
        <div class="container-header-itens">
            <img src="../../static/americaDoSul/imgs/logo-america.png" alt="">
        </div>
        <div class="container-header-itens">
            <h1>Africa</h1>
        </div>
        <div class="container-header-itens">
            <span class="material-symbols-outlined button">
                menu
            </span>
        </div>
        <nav class="container-header-navbar">
            <a href="{% url 'indexafrica' %}">Inicio</a>
            <a href="{% url 'gana' %}">Gana</a>
            <a href="{% url 'marrocos' %}">Marrocos</a>
        </nav>
    </header>
    <main>
        <section class="container-main">
            <div class="container-main-slider">
                <div class="slider">

                    <div class="slides">
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <input type="radio" name="radio-btn" id="radio4">

                        <div class="slide first">
                            <img src="../../static/americaDoSul/imgs/brasil/Brazil-Sao-Paulo.jpg" alt="brasil">
                        </div>
                        <div class="slide">
                            <img src="../../static/americaDoSul/imgs/brasil/selecao.jpg" alt="brasil">
                        </div>
                        <div class="slide">
                            <img src="../../static/americaDoSul/imgs/brasil/brasil-rio.jpg" alt="brasil">
                        </div>
                        <div class="slide">
                            <img src="../../static/americaDoSul/imgs/brasil/bandeira_do_brasil.webp" alt="brasil">
                        </div>

                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                            <div class="auto-btn4"></div>
                        </div>
                    </div>

                    <div class="manual-navigation">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                    </div>

                </div>
            </div>
            <div class="container-main-info">
                <div class="container-main-info-title">
                    <h1>Argentina</h1>
                </div>
                <div class="container-main-info-content">
                    <div class="content-itens">
                        <h2>
                            É um país sul-americano situado na porção meridional do continente. Possui 45 milhões de habitantes e tem os Andes como fronteira natural com o Chile.
                        </h2>

                        <a href="">Conheça mais!</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="../../static/americaDoSul/js/script.js"></script>
</html>