@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #efefef;
}

.container-header{
    width: 100%;
    height: 12vh;
    background-color:#fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-header-itens{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-header-itens img{
    width: 20%;
    height: 50%;
    min-width: 90px;
    min-height: 90px;
}

.container-header-itens h1{
    color: #4169E1;
    font-family: 'Pacifico', cursive;
    
}

.container-header-itens span{
    cursor: pointer;
    position: relative;
    color: #4169E1;
}

.container-header-navbar{
    display: none;
    position: absolute;
    top: 13vh;
    right: 12%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    min-width: 150px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}
.container-header-navbar.active{
    display: flex;
    animation: openMenu 1s ease-in-out;
}

.container-header-navbar.active a{
    animation: showText 1s ease-in-out;
}
.container-header-navbar a{
    position: relative;
    color: #4169E1;
    text-decoration: none;
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.container-header-navbar a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #4169E1;
    transform-origin: bottom right;
    transition: transform 0.7s ease-in ;
}
.container-header-navbar a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;

}

.container-main{
    width: 100%;
    height: 88vh;
    display: flex;
}

.container-main-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.container-main-img img{
    width: 100%;
    height: 50%;
}

.container-main-text{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-main-text h2{
    color: #4169E1;
    font-family: 'Inter', sans-serif;
}


/* Paises */
.container-main-slider{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    margin: 0 auto;
    width: 75%;
    height: 400px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;

}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manual-navigation{
    position: absolute;
    width: 38%;
    margin-top: -40px;
    display: flex;
    justify-content: space-evenly;
    
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #4169E1;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 38%;
    margin-top: 360px;
    display: flex;
    justify-content: space-evenly;
}



#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

.container-main-info{
    width: 50%;
    height: 100%;
}

.container-main-info-title{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.container-main-info-title h1{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #4169E1;

}

.container-main-info-content{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-itens{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-itens h2{
    margin-top: -30%;
    margin-bottom: 5%;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    width: 70%;
    text-align: center;
    color: #4169E1;
}
.content-itens a{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    background-color: #4169E1;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@keyframes openMenu{
    0%{
        transform: translateY(-80%);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes showText{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;

    }
    100%{
        opacity: 1;

    }
}



